#nav-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #00a087;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

#nav-bar .header {
  float: left;
  color: #e8fdff;
  font-size: 200%;
  line-height: 80px;
}

#compose {
    width: 6em;
    margin-top: 0.35em;
    font-size: 20px;
    float: right;
    background-color: #e7fdff;
    border-radius: 6px;
    font-size: 20px;
    border: 1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #009f85;
    text-align: center;
}



#compose:hover {
    background: white;
    color: black;
}